h1 {
    align-content: center;
    text-align: center;
}

.register {
    text-align: center;
    background-color: lightgreen;
    width: 20vw;
    margin: 20vh auto;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 10px 20px 0px lightgray;
}

.register:hover {
    background-color: red;
    cursor: pointer;
}